<span>Name: {{lead.name}}, Email: {{lead.email}}</span>

<span *ngIf= "isEdit"> 
   <p> </p>
    Name: <input type="text" [(ngModel)] = "lead.name">
    Email: <input type="text" [(ngModel)] = "lead.email">
    </span>
<button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button *ngIf= "edit" (click) = "cancelEdit()" >Cancel</button> 
<button (click) = "sendDelete()" >Delete</button> 