<h1>
  {{title}}
</h1>
<nav>
  <a routerLink="/users" routerLinkActive="active" >Users</a> | 
  <a routerLink="/posts" routerLinkActive="active">Posts</a> |
  <a routerLink="/leads" routerLinkActive="active">Leads</a>
  <a routerLink="/products" routerLinkActive="active">Products</a>
</nav>
 <!-- <jce-users></jce-users> -->
<router-outlet></router-outlet>

