<span *ngIf="!isEdit">
name: {{user.name}}, email: {{user.email}}
</span>
<span *ngIf="isEdit">
name: <input type="text" [(ngModel)]="user.name">, email: <input type="text" [(ngModel)]="user.email">
</span>
<button (click) ="sendDelete()">Delete</button>
<button (click)="toggleEdit()">{{editButtonText}}</button>
<button *ngIf="edit" (click)="cancelEdit()">cancel</button>