<div>
  <h2>Leads List</h2>
  <jce-lead-form (leadAddedEvent) = "addlead($event)">></jce-lead-form>
             <jce-spinner [visible] = "isLoading"></jce-spinner>
 <ul class="list-group leads">
    <li *ngFor = "let lead of leads" 
        [class.active]="currentLead == lead" 
        (click) = "select(lead)"
        class="list-group-item">

 <!--      <jce-user [user] = user (deleteEvent) = "deleteUser($event)"></jce-user>-->
       <jce-lead [lead] = lead (editEvent) = "editLead($event) "[lead] = lead (deleteEvent) = "deleteLead($event)"></jce-lead>       
   </li>
  </ul>
</div>